[submodule "symmetric-properties"]
	path = symmetric-properties
	url = https://github.com/joelburget/symmetric-properties.git
[submodule "constellation"]
	path = constellation
	url = https://github.com/jpmorganchase/constellation.git
