.stack-work
ansible
geth*.out
constellation*.out
gdata
id_noirqs
id_tunneler
terraform.tfvars
ethereum-raft-demo.pem
docker-harness/github.pub
docker-quorum/github.pub
cluster-data
dist-newstyle
.idea
.ideaHaskellLib
quorum-tools.iml
